body{
    background: linear-gradient(90deg, #fff 1px, transparent 1%) 50%, linear-gradient(#fff 1px, transparent 1%) 50%, #000;
    background-size: 2px 2px;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1em;
}

img {
    filter: grayscale();
    image-rendering: pixelated;
    width: 80%;
    margin: auto;
    display: block;
}

figcaption {
    font-size: 0.9rem;
    text-align: center;
}

